.default-icon {
  max-width: $gridItem-width;
  max-height: 1.3rem;
  object-fit: contain;
}

.icon-template {

  height: $input-height-with-no-borders;
  max-height: $input-height-with-no-borders;
  justify-content: center;
  align-items: center;

  .no-border {
    border: none !important;
  }

  img {
    @extend .sm-input-border;
    padding: 0.2rem;
    height: $input-height-with-no-borders;
    width: $gridItem-width;
    object-fit: contain;
  }
}

.w-26 {
  width: 26px;
}

.w-32 {
  width: 32px;
}

.w-42 {
  width: 42px;
}

.icon-template-lg {
  padding: 0rem !important;
  width: 7rem;
  max-height: 8rem;
  object-fit: contain;
  justify-content: center;
  align-items: center;

  img {
    max-width: 5rem;
    max-height: 5rem;
    object-fit: contain;
  }
}



.icon-option-template {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: start;
}

.icon-option-template img {
  max-width: 3rem;
  max-height: 3.4rem;
  object-fit: contain;
}

.icon-option-name {
  padding: 0 0 0 1rem;
  white-space: normal;
  width: 100%;
}