$primaryColor: #9eade6 !default;
$borderRadius: 6px !default;
$highlightBg: rgba($primaryColor, 0.16) !default;
$highlightTextColor: $primaryColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

$textColor: #bcbfbf;
$surface-ground: #161d21;
$surface-section: $surface-ground;
$tableHeaderBg: #21282c !default;
$headerTextColor: #ff7e00;
$editableTextColor: #94abec;

$infoButtonBg: #35a4cc !default;

$blue-header-color: #0c243c;


//shades
$shade000: rgba(255, 255, 255, 0.87) !default; //text color
$shade100: rgba(255, 255, 255, 0.6) !default; //text secondary color
$shade500: #2d3e44 !default;
$shade600: #263238 !default; //input bg, border, divider
$shade700: #1e282c !default; //unused
$shade800: #161d21 !default; //elevated surface
$shade900: #0e1315 !default; //ground surface

$primaryTextColor: $shade100 !default;

$hoverBg: rgba($primaryColor, 0.08) !default;

//global
// $textColor: $shade000 !default;
$textSecondaryColor: $shade100 !default;
$divider: 1px solid $shade600 !default;
$disabledOpacity: 0.4 !default; //opacity of a disabled item
$errorColor: #f78c79 !default;

//scale

//focus
$focusOutlineColor: $primaryColor !default;
$focusShadow: 0 0 0 1px $focusOutlineColor !default;

//action icons
$actionIconColor: $shade100 !default;
$actionIconHoverBg: $hoverBg !default;
$actionIconHoverColor: $shade000 !default;


//Input
$inputBorder: 0 !default;
$inputBg: transparent !default;
$inputTextColor: hsl(234, 65%, 79%) !default;


$inputIconColor: $shade100 !default;
$inputFocusBorderColor: $primaryColor !default;
$inputPlaceholderTextColor: $shade100 !default;
$inputFilledBg: $shade600 !default;

//input groups
$inputGroupBg: $shade800 !default;
$inputGroupTextColor: $shade100 !default;

//input lists (e.g. dropdown, autocomplete, multiselect, orderlist)
$inputListBg: $shade800 !default;
$inputListTextColor: $shade000 !default;
$inputListItemTextColor: $shade000 !default;
$inputListItemHoverBg: $hoverBg !default;
$inputListItemTextHoverColor: $shade000 !default;
$inputListItemFocusBg: rgba($primaryColor, 0.1) !default;
$inputListItemTextFocusColor: $shade000 !default;
$inputListHeaderBg: $shade800 !default;
$inputListHeaderTextColor: $shade000 !default;

//inputs with overlays (e.g. autocomplete, dropdown, multiselect)
$inputOverlayBorder: 1px solid $shade600 !default;

//password
$passwordMeterBg: $shade600 !default;
$passwordWeakBg: #e693a9 !default;
$passwordMediumBg: #ffe08a !default;
$passwordStrongBg: #cede9c !default;

//button
$plainButtonHoverBgColor: $hoverBg !default;
$plainButtonActiveBgColor: rgba(255, 255, 255, 0.16) !default;

$secondaryButtonBg: #b4bfcd !default;
$secondaryButtonTextColor: $shade900 !default;

$successButtonBg: #cede9c !default;
$successButtonTextColor: $shade900 !default;

$warningButtonBg: #ffe08a !default;
$warningButtonTextColor: $shade900 !default;
$helpButtonBg: #b09ce5 !default;
$helpButtonTextColor: $shade900 !default;

$dangerButtonBg: #e693a9 !default;
$dangerButtonTextColor: $shade900 !default;

$contrastButtonBg: #ffffff !default;
$contrastButtonTextColor: #0e1315 !default;
$contrastButtonHoverBg: #cfd0d0 !default;
$contrastButtonHoverBorderColor: #cfd0d0 !default;
$contrastButtonActiveBg: #b7b8b9 !default;
$contrastButtonActiveBorderColor: #b7b8b9 !default;

//checkbox
$checkboxBorder: 2px solid $shade600 !default;

//radiobutton
$radiobuttonBorder: 2px solid $shade600 !default;

//colorpicker
$colorPickerBorder: 1px solid $shade600 !default;

//togglebutton
$toggleButtonBg: $shade800 !default;
$toggleButtonBorder: 2px solid $shade600 !default;
$toggleButtonTextColor: $shade000 !default;
$toggleButtonIconColor: $shade100 !default;
$toggleButtonHoverBg: $hoverBg !default;
$toggleButtonHoverBorderColor: $shade600 !default;
$toggleButtonTextHoverColor: $shade000 !default;
$toggleButtonIconHoverColor: $shade100 !default;
$toggleButtonActiveHoverBg: rgba($primaryColor, 0.24) !default;
$toggleButtonActiveHoverBorderColor: rgba($primaryColor, 0.24) !default;

//inplace
$inplaceHoverBg: $hoverBg !default;
$inplaceTextHoverColor: $shade000 !default;

//rating
$ratingStarIconOffColor: $shade000 !default;

//slider
$sliderBg: $shade600 !default;
$sliderHandleBg: $shade600 !default;

//calendar
$calendarBg: $shade800 !default;
$calendarTextColor: $shade000 !default;

$calendarHeaderBg: $shade800 !default;
$calendarHeaderBorder: 1px solid $shade600 !default;
$calendarHeaderTextColor: $shade000 !default;

$calendarCellDateHoverBg: $hoverBg !default;
$calendarCellDateTodayBg: transparent !default;
$calendarCellDateTodayTextColor: $primaryColor !default;

//input switch
$inputSwitchSliderOffBg: $shade600 !default;
$inputSwitchHandleOffBg: $shade100 !default;
$inputSwitchSliderOffHoverBg: $hoverBg !default;

//panel
$panelHeaderBorderColor: $shade600 !default;
$panelHeaderBorder: 2px solid $shade600 !default;
$panelHeaderBg: $shade800 !default;
$panelHeaderTextColor: $shade000 !default;

$panelHeaderHoverBg: $hoverBg !default;
$panelHeaderHoverBorderColor: $shade600 !default;
$panelHeaderTextHoverColor: $shade000 !default;

$panelContentBorderColor: $shade600 !default;
$panelContentBorder: 2px solid $shade600 !default;
$panelContentBg: $shade800 !default;
$panelContentEvenRowBg: rgba(255, 255, 255, 0.01) !default;
$panelContentTextColor: $shade000 !default;

$panelFooterBorder: 2px solid $shade600 !default;
$panelFooterBg: $shade800 !default;
$panelFooterTextColor: $shade000 !default;

//accordion

$accordionHeaderHoverBg: $hoverBg !default;
$accordionHeaderHoverBorderColor: $shade600 !default;
$accordionHeaderTextHoverColor: $shade000 !default;

$accordionHeaderActiveBorderColor: $shade600 !default;
$accordionHeaderTextActiveColor: $shade000 !default;

$accordionHeaderActiveHoverBg: $hoverBg !default;
$accordionHeaderActiveHoverBorderColor: $shade600 !default;
$accordionHeaderTextActiveHoverColor: $shade000 !default;

//tabview
$tabviewNavBorder: 1px solid $shade600 !default;
$tabviewNavBg: transparent !default;

$tabviewHeaderBorder: solid $shade600 !default;
$tabviewHeaderBorderColor: transparent transparent $shade600 transparent !default;
$tabviewHeaderBg: $shade800 !default;
$tabviewHeaderTextColor: $shade100 !default;

$tabviewHeaderHoverBg: $shade800 !default;
$tabviewHeaderHoverBorderColor: $primaryColor !default;
$tabviewHeaderTextHoverColor: $shade000 !default;

$tabviewHeaderActiveBg: $shade800 !default;

$tabviewContentBg: $shade800 !default;
$tabviewContentTextColor: $shade000 !default;

//upload

//scrollpanel
$scrollPanelTrackBg: $shade600 !default;

//card
$cardSubTitleColor: $shade100 !default;

//editor

//paginator
$paginatorBg: $shade800 !default;
$paginatorTextColor: $shade100 !default;
$paginatorBorder: solid $shade600 !default;
$paginatorElementIconColor: $shade100 !default;
$paginatorElementHoverBg: $hoverBg !default;
$paginatorElementIconHoverColor: $shade000 !default;

//table
$tableHeaderBorder: 2px solid $shade600 !default;
// $tableHeaderBg: $shade800 !default;
$tableHeaderTextColor: $shade100 !default;

$tableHeaderCellBg: $shade800 !default;
$tableHeaderCellTextColor: $shade000 !default;
$tableHeaderCellBorder: 2px solid $shade600 !default;
$tableHeaderCellHoverBg: $hoverBg !default;
$tableHeaderCellTextHoverColor: $shade000 !default;
$tableHeaderCellIconColor: $shade100 !default;
$tableHeaderCellIconHoverColor: $shade000 !default;
$tableHeaderCellHighlightBg: $shade800 !default;
$tableHeaderCellHighlightHoverBg: $hoverBg !default;

$tableBodyRowBg: $shade800 !default;
$tableBodyRowTextColor: $shade000 !default;
$tableBodyRowEvenBg: #1b2327 !default;
$tableBodyRowHoverBg: $hoverBg !default;
$tableBodyRowTextHoverColor: $shade000 !default;
$tableBodyCellBorder: 2px solid $shade600 !default;

$tableFooterCellBg: $shade800 !default;
$tableFooterCellTextColor: $shade000 !default;
$tableFooterCellBorder: 2px solid $shade600 !default;

$tableFooterBorder: 2px solid $shade600 !default;
$tableFooterBg: $shade800 !default;
$tableFooterTextColor: $shade000 !default;

//dataview
$dataViewListItemBorder: solid $shade600 !default;

//tree
$treeNodeIconColor: $shade100 !default;

//timeline
$timelineEventMarkerBackground: $shade800 !default;
$timelineEventColor: $shade600 !default;

//org chart
$organizationChartConnectorColor: $shade600 !default;

//message

//inline message

//toast
$toastShadow: none !default;

//severities
$infoMessageBg: #a3d7e6 !default;
$infoMessageBorder: 4px solid #65bcd6 !default;
$infoMessageTextColor: $shade900 !default;
$infoMessageIconColor: $shade900 !default;
$successMessageBg: #bfd47f !default;
$successMessageBorder: 4px solid #a2c044 !default;
$successMessageTextColor: $shade900 !default;
$successMessageIconColor: $shade900 !default;
$warningMessageBg: #ff9c3e !default;
$warningMessageBorder: 4px solid #ff8817 !default;
$warningMessageTextColor: $shade900 !default;
$warningMessageIconColor: $shade900 !default;
$errorMessageBg: #e6a3b2 !default;
$errorMessageTextColor: $shade900 !default;
$errorMessageIconColor: $shade900 !default;

//overlays
$overlayContentBorder: 2px solid $shade600 !default;

//dialog
$dialogHeaderBg: $shade800 !default;
$dialogHeaderTextColor: $shade000 !default;

//confirmpopup

//tooltip
$tooltipBg: $shade600 !default;

//steps
$stepsItemBg: transparent !default;
$stepsItemBorder: 2px solid $shade600 !default;
$stepsItemTextColor: $shade100 !default;
$stepsItemNumberColor: $shade000 !default;

//progressbar
$progressBarBg: $shade600 !default;

//menu (e.g. menu, menubar, tieredmenu)
$menuBg: $shade800 !default;
$menuBorder: 2px solid $shade600 !default;
$menuTextColor: $shade000 !default;
$menuitemTextColor: $shade000 !default;
$menuitemIconColor: $shade100 !default;
$menuitemTextHoverColor: $shade000 !default;
$menuitemIconHoverColor: $shade000 !default;
$menuitemHoverBg: $hoverBg !default;
$menuitemTextFocusColor: $shade000 !default;
$menuitemIconFocusColor: $shade000 !default;
$menuitemFocusBg: rgba($primaryColor, 0.1) !default;
$menuitemTextActiveColor: $shade000 !default;
$menuitemIconActiveColor: $shade000 !default;
$menuitemActiveBg: $hoverBg !default;
$menuitemActiveFocusBg: $hoverBg !default;
$submenuHeaderBg: $shade800 !default;
$submenuHeaderTextColor: $shade000 !default;
$overlayMenuBorder: 2px solid $shade600 !default;

$horizontalMenuBg: $menuBg !default;

//badge and tag

//carousel
$carouselIndicatorBg: $shade600 !default;
$carouselIndicatorHoverBg: scale-color($shade600, $lightness: 10%) !default;

//galleria
$galleriaCloseIconColor: #f8f9fa !default;
$galleriaCloseIconHoverColor: #f8f9fa !default;

$galleriaItemNavigatorColor: #f8f9fa !default;
$galleriaItemNavigatorHoverColor: #f8f9fa !default;

$galleriaCaptionTextColor: #f8f9fa !default;

$galleriaIndicatorBg: $shade600 !default;
$galleriaIndicatorHoverBg: scale-color($shade600, $lightness: 10%) !default;

$galleriaThumbnailNavigatorColor: #f8f9fa !default;
$galleriaThumbnailNavigatorHoverColor: #f8f9fa !default;

//divider
$dividerColor: $shade600 !default;

//avatar
$avatarBg: $shade600 !default;

//chip
$chipBg: $shade600 !default;
$chipFocusBg: $shade500 !default;

//scrollTop
$scrollTopBg: $highlightBg !default;
$scrollTopHoverBg: scale-color($highlightBg, $alpha: 24%) !default;
$scrollTopTextColor: $highlightTextColor !default;

//skeleton
$skeletonBg: rgba(255, 255, 255, 0.06) !default;
$skeletonAnimationBg: rgba(255, 255, 255, 0.04) !default;

//splitter
$splitterGutterBg: rgba(255, 255, 255, 0.03) !default;
$splitterGutterHandleBg: $shade600 !default;

//speeddial
$speedDialActionHoverBg: $shade600 !default;

:root {
  --surface-c: #{$hoverBg};
  color-scheme: dark;
}