.videostreamSelected {
  background-color: #91633254 !important;
}

.dataselector .p-paginator .p-dropdown {
  padding: 0 !important;
  height: 2.2rem !important;
}

.dataselector .p-button.p-button-icon-only {
  padding: 0.5rem 0 !important;
  width: 1.5rem !important;
}

.dataselector .p-button.p-button-icon-only.p-button-rounded {
  height: 1.5rem !important;
  padding: 0.0rem 0 !important;
}

.dataselector .p-filter-column {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.dataselector .p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  padding: 0.0rem 0 !important;
  min-width: 1.3rem !important;
}

.dataselector .p-selectable-row {

  padding: 0.0rem 0 !important;
}


.dataselector .header {
  /* width: 1.5rem  !important; */
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.dataselector .grid {
  /* margin-right: 0 !important; */
  margin-left: 0rem !important;
  margin-top: 0rem !important;
}

.dataselector .header {
  min-height: 2.5rem !important;
  /* max-width: 100% !important; */
}

.dataselector .emptyheader {
  min-height: 4.2rem !important;
  /* max-width: 100% !important; */
}

.dataselector .col-12 {
  /* width: 1.5rem  !important; */
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.dataselector .p-datatable .p-datatable-tbody>tr>td {
  padding: 0.1rem 0 !important;
  height: 1.8rem !important;
  max-height: 1.8rem !important;
}

.dataselector .p-datatable {
  font-size: calc(1 * (0.52vw + 0.52vh)) !important;
  /* padding: 0 !important; */
}

.dataselector .p-paginator .p-dropdown .p-dropdown-label {
  font-size: calc(1 * (0.5vw + 0.5vh)) !important;

}

.dataselector .p-datatable .p-datatable-header {
  margin: 0 !important;
  /* padding: 0 !important; */
}

.p-datatable-header {
  padding: 0 !important;
}