$primaryColor: #5472d4 !default;
$primaryLightColor: #91a4e3 !default;
$primaryLighterColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #ced6f1 !default;
$highlightTextColor: #585858 !default;
$highlightFocusBg: darken($highlightBg, 8%) !default;

//reused color variables
$shade000: #ffffff !default; //surface
$shade100: #f5f5f5 !default; //header background
$shade200: #edf0fa !default; //hover background
$shade300: #ebebeb !default; //border, divider
$shade400: #e1e1e1 !default; //input border
$shade500: #cecece !default; //input hover border
$shade600: #898989 !default; //text secondary color
$shade700: #6c6c6c !default; //text color
$shade800: #585858 !default; //message text, highlight text
$shade900: #3b3b3b !default; //unused

//global
$textColor: $shade700 !default;
$textSecondaryColor: $shade600 !default;
$divider: 1px solid $shade300 !default;
$disabledOpacity: 0.6 !default;
$errorColor: #f88c79 !default;
$borderRadius: 6px !default;

$infoButtonBg: #35a4cc !default;

//scale

//focus
$focusOutlineColor: $primaryLighterColor !default;
$focusShadow: 0 0 0 0.1rem $focusOutlineColor !default;

//action icons
$actionIconColor: $shade600 !default;
$actionIconHoverBg: $shade200 !default;
$actionIconHoverColor: $shade700 !default;

//input field (e.g. inputtext, spinner, inputmask)
$inputBg: $shade000 !default;
$inputTextColor: $shade700 !default;
$inputIconColor: $shade600 !default;
$inputBorder: 2px solid $shade400 !default;
$inputFocusBorderColor: $primaryLightColor !default;
$inputPlaceholderTextColor: $shade600 !default;
$inputFilledBg: #f2f2f2 !default;

//input groups
$inputGroupBg: $shade100 !default;
$inputGroupTextColor: $shade600 !default;

//input lists (e.g. dropdown, autocomplete, multiselect, orderlist)
$inputListBg: $shade000 !default;
$inputListTextColor: $shade700 !default;
$inputListItemTextColor: $shade700 !default;
$inputListItemHoverBg: $shade200 !default;
$inputListItemTextHoverColor: $shade700 !default;
$inputListItemFocusBg: #e6e9f3 !default;
$inputListItemTextFocusColor: $shade700 !default;
$inputListHeaderBg: $shade000 !default;
$inputListHeaderTextColor: $shade700 !default;

//inputs with overlays (e.g. autocomplete, dropdown, multiselect)
$inputOverlayBorder: 0 none !default;

//password
$passwordMeterBg: $shade300 !default;
$passwordWeakBg: #d45472 !default;
$passwordMediumBg: #ff922a !default;
$passwordStrongBg: #8bae2c !default;

//button
$plainButtonHoverBgColor: $shade200 !default;
$plainButtonActiveBgColor: $shade300 !default;

$secondaryButtonBg: #8191a6 !default;
$secondaryButtonTextColor: #ffffff !default;

$successButtonBg: #8bae2c !default;
$successButtonTextColor: #ffffff !default;

$warningButtonBg: #ff922a !default;
$warningButtonTextColor: #ffffff !default;

$helpButtonBg: #7654d4 !default;
$helpButtonTextColor: #ffffff !default;

$dangerButtonBg: #d45472 !default;
$dangerButtonTextColor: #ffffff !default;

$contrastButtonBg: $shade900 !default;
$contrastButtonTextColor: #ffffff !default;
$contrastButtonHoverBg: $shade800 !default;
$contrastButtonHoverBorderColor: $shade800 !default;
$contrastButtonActiveBg: $shade700 !default;
$contrastButtonActiveBorderColor: $shade700 !default;

//checkbox
$checkboxBorder: 2px solid $shade400 !default;

//radiobutton
$radiobuttonBorder: 2px solid $shade400 !default;

//colorpicker
$colorPickerBorder: 1px solid $shade800 !default;

//togglebutton
$toggleButtonBg: $inputBg !default;
$toggleButtonBorder: 2px solid $shade400 !default;
$toggleButtonTextColor: $shade700 !default;
$toggleButtonIconColor: $shade600 !default;
$toggleButtonHoverBg: $shade200 !default;
$toggleButtonHoverBorderColor: $shade400 !default;
$toggleButtonTextHoverColor: $shade700 !default;
$toggleButtonIconHoverColor: $shade600 !default;
$toggleButtonActiveHoverBg: scale-color($highlightBg, $lightness: -5%) !default;
$toggleButtonActiveHoverBorderColor: scale-color($highlightBg,
		$lightness: -5%) !default;

//inplace
$inplaceHoverBg: $shade200 !default;
$inplaceTextHoverColor: $shade700 !default;

//rating
$ratingStarIconOffColor: $shade700 !default;

//slider
$sliderBg: $shade300 !default;
$sliderHandleBg: $shade000 !default;

//calendar
$calendarBg: $shade000 !default;
$calendarTextColor: $shade700 !default;

$calendarHeaderBg: $shade000 !default;
$calendarHeaderBorder: 1px solid $shade300 !default;
$calendarHeaderTextColor: $shade700 !default;

$calendarCellDateHoverBg: $shade200 !default;
$calendarCellDateTodayBg: $shade400 !default;
$calendarCellDateTodayTextColor: $shade700 !default;



//input switch
$inputSwitchSliderOffBg: $shade500 !default;
$inputSwitchHandleOffBg: $shade000 !default;
$inputSwitchSliderOffHoverBg: scale-color($shade500, $lightness: -10%) !default;

//panel
$panelHeaderBorderColor: $shade300 !default;
$panelHeaderBorder: 2px solid $shade300 !default;
$panelHeaderBg: $shade000 !default;
$panelHeaderTextColor: $shade700 !default;

$panelHeaderHoverBg: $shade200 !default;
$panelHeaderHoverBorderColor: $shade300 !default;
$panelHeaderTextHoverColor: $shade700 !default;

$panelContentBorderColor: $shade300 !default;
$panelContentBorder: 2px solid $shade300 !default;
$panelContentBg: $shade000 !default;
$panelContentEvenRowBg: scale-color($panelContentBg, $lightness: -1%) !default;
$panelContentTextColor: $shade700 !default;

$panelFooterBorder: 2px solid $shade300 !default;
$panelFooterBg: $shade000 !default;
$panelFooterTextColor: $shade700 !default;

//accordion

$accordionHeaderHoverBg: $shade200 !default;
$accordionHeaderHoverBorderColor: $shade300 !default;
$accordionHeaderTextHoverColor: $shade700 !default;

$accordionHeaderActiveBorderColor: $shade300 !default;
$accordionHeaderTextActiveColor: $shade700 !default;

$accordionHeaderActiveHoverBg: $shade200 !default;
$accordionHeaderActiveHoverBorderColor: $shade300 !default;
$accordionHeaderTextActiveHoverColor: $shade700 !default;


//tabview
$tabviewNavBorder: 1px solid $shade300 !default;
$tabviewNavBg: $shade000 !default;

$tabviewHeaderBorder: solid $shade300 !default;
$tabviewHeaderBorderColor: transparent transparent $shade300 transparent !default;
$tabviewHeaderBg: $shade000 !default;
$tabviewHeaderTextColor: $shade600 !default;

$tabviewHeaderHoverBg: $shade000 !default;
$tabviewHeaderHoverBorderColor: $highlightBg !default;
$tabviewHeaderTextHoverColor: $shade600 !default;

$tabviewHeaderActiveBg: $shade000 !default;

$tabviewContentBg: $panelContentBg !default;
$tabviewContentTextColor: $panelContentTextColor !default;

//upload

//scrollpanel
$scrollPanelTrackBg: $shade100 !default;

//card
$cardSubTitleColor: $shade600 !default;


//paginator
$paginatorBg: $shade000 !default;
$paginatorTextColor: $shade600 !default;
$paginatorBorder: solid $shade300 !default;
$paginatorElementIconColor: $shade600 !default;
$paginatorElementHoverBg: $shade200 !default;
$paginatorElementIconHoverColor: $shade700 !default;

//table
$tableHeaderBorder: 2px solid $shade100 !default;
$tableHeaderBg: $shade000 !default;
$tableHeaderTextColor: $shade700 !default;

$tableHeaderCellBg: $shade000 !default;
$tableHeaderCellTextColor: $shade700 !default;
$tableHeaderCellBorder: 2px solid $shade100 !default;
$tableHeaderCellHoverBg: $shade200 !default;
$tableHeaderCellTextHoverColor: $shade700 !default;
$tableHeaderCellIconColor: $shade600 !default;
$tableHeaderCellIconHoverColor: $shade600 !default;
$tableHeaderCellHighlightBg: $shade000 !default;
$tableHeaderCellHighlightHoverBg: $shade200 !default;

$tableBodyRowBg: $shade000 !default;
$tableBodyRowTextColor: $shade700 !default;
$tableBodyRowEvenBg: scale-color($tableBodyRowBg, $lightness: -1%) !default;
$tableBodyRowHoverBg: $shade200 !default;
$tableBodyRowTextHoverColor: $shade700 !default;
$tableBodyCellBorder: 2px solid $shade100 !default;

$tableFooterCellBg: $shade000 !default;
$tableFooterCellTextColor: $shade700 !default;
$tableFooterCellBorder: 2px solid $shade100 !default;

$tableFooterBorder: 2px solid $shade100 !default;
$tableFooterBg: $shade000 !default;
$tableFooterTextColor: $shade700 !default;



//dataview
$dataViewListItemBorder: solid $shade100 !default;

//tree
$treeNodeIconColor: $shade600 !default;

//timeline
$timelineEventMarkerBackground: $shade000 !default;
$timelineEventColor: $shade300 !default;

//org chart
$organizationChartConnectorColor: $shade300 !default;

//message

//inline message

//toast
$toastShadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
	0 4px 5px 0 rgba(0, 0, 0, 0.14),
	0 1px 10px 0 rgba(0, 0, 0, 0.12) !default;

//severities
$infoMessageBg: #e1f2f7 !default;
$infoMessageBorder: 4px solid #83c7e0 !default;
$infoMessageTextColor: $shade800 !default;
$infoMessageIconColor: $shade800 !default;
$successMessageBg: #f2f8e1 !default;
$successMessageBorder: 4px solid #c7e084 !default;
$successMessageTextColor: $shade800 !default;
$successMessageIconColor: $shade800 !default;
$warningMessageBg: #ffecdb !default;
$warningMessageBorder: 4px solid #ffb065 !default;
$warningMessageTextColor: $shade800 !default;
$warningMessageIconColor: $shade800 !default;
$errorMessageBg: #f7e1e6 !default;
$errorMessageTextColor: $shade800 !default;
$errorMessageIconColor: $shade800 !default;

//overlays
$overlayContentBorder: 0 none !default;

//dialog
$dialogHeaderBg: $shade000 !default;
$dialogHeaderTextColor: $shade700 !default;

//confirmpopup

//tooltip
$tooltipBg: $shade800 !default;

//steps
$stepsItemBg: $shade000 !default;
$stepsItemBorder: 2px solid $shade300 !default;
$stepsItemTextColor: $shade600 !default;
$stepsItemNumberColor: $shade700 !default;

//progressbar
$progressBarBg: $shade300 !default;

//menu (e.g. menu, menubar, tieredmenu)
$menuBg: $shade000 !default;
$menuBorder: 2px solid $shade300 !default;
$menuTextColor: $shade700 !default;
$menuitemTextColor: $shade700 !default;
$menuitemIconColor: $shade600 !default;
$menuitemTextHoverColor: $shade700 !default;
$menuitemIconHoverColor: $shade600 !default;
$menuitemHoverBg: $shade200 !default;
$menuitemTextFocusColor: $shade700 !default;
$menuitemIconFocusColor: $shade700 !default;
$menuitemFocusBg: #e6e9f3 !default;
$menuitemTextActiveColor: $shade700 !default;
$menuitemIconActiveColor: $shade600 !default;
$menuitemActiveBg: $shade200 !default;
$menuitemActiveFocusBg: $shade200 !default;
$submenuHeaderBg: $shade000 !default;
$submenuHeaderTextColor: $shade700 !default;
$overlayMenuBorder: 0 none !default;


$horizontalMenuBg: $shade100 !default;

//badge and tag


//carousel
$carouselIndicatorBg: $shade200 !default;
$carouselIndicatorHoverBg: $shade300 !default;

//galleria
$galleriaCloseIconColor: $shade100 !default;
$galleriaCloseIconHoverColor: $shade100 !default;

$galleriaItemNavigatorColor: $shade100 !default;
$galleriaItemNavigatorHoverColor: $shade100 !default;

$galleriaCaptionTextColor: $shade100 !default;

$galleriaIndicatorBg: $shade200 !default;
$galleriaIndicatorHoverBg: $shade300 !default;

$galleriaThumbnailNavigatorColor: $shade100 !default;
$galleriaThumbnailNavigatorHoverColor: $shade100 !default;

//divider
$dividerColor: $shade300 !default;

//avatar
$avatarBg: $shade300 !default;

//chip
$chipBg: $shade300 !default;
$chipFocusBg: $shade400 !default;

//scrollTop
$scrollTopBg: rgba(0, 0, 0, 0.7) !default;
$scrollTopHoverBg: rgba(0, 0, 0, 0.8) !default;
$scrollTopTextColor: $shade100 !default;

//skeleton
$skeletonBg: $shade300 !default;
$skeletonAnimationBg: rgba(255, 255, 255, 0.4) !default;

//splitter
$splitterGutterBg: $shade100 !default;
$splitterGutterHandleBg: $shade300 !default;

//speeddial
$speedDialActionHoverBg: $shade800 !default;

:root {
	--surface-c: #{$shade200};
	color-scheme: light;
}