@mixin sm-border() {
    border-radius: $borderRadius !important;
    border-color: $inputBorderColor !important;
    border-width: $inputBorder-size !important;
    border-style: solid !important;
}

.sm-border {
    @include sm-border();
}

@mixin input-hover() {
    &:not(.p-disabled):hover {
        border-color: $inputHoverBorderColor;
        border-radius: $borderRadius;
        border-style: solid;
        border-width: $inputBorder-size ;
        color: $highlightTextColor ;
    }
}

.sm-hover {
    @include input-hover();
}

.sm-input-border {
    @include sm-border();
    @include input-hover();
}


.sm-input-border-dark {
    @extend .sm-input-border;
    background-color: $inputBg !important;

}

.border-radius-right {
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    border-color: $headerBg;
    border-width: 1px;
    border-style: solid;
}

.border-radius-left {
    border-color: $headerBg;
    border-width: 1px;
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    border-style: solid;
}

.border-radius-bottom {
    border-top-style: none !important;
    border-color: $inputBorderColor;
    border-width: 1px;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    border-style: solid;
}

.border-sides {
    border-top-style: none;
    border-bottom-style: none;
    border-left: 1px solid $inputBorderColor;
    border-right: 1px solid $inputBorderColor;
}

.info-header-text-bottom-border {
    @extend .info-header-text;
    border-width: 1px;
    border-top-right-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
    border-bottom: 1px solid $inputBorderColor;
    border-style: solid;
    border-color: $inputBorderColor;
}

.last_radius {
    border-top-width: 0;
    border-right-width: 0;

    .p-datatable-wrapper {
        border-top-right-radius: $borderRadius !important;
    }
}

.no-top-border {
    .p-datatable-wrapper {
        border-top-width: 0 !important;
    }
}