.sm-text-color {
    color: $streamMasterColor;
}

.multiselectcolumn {}


.p-multiselect-trigger {
    width: 1rem;
    padding-right: 0.2rem;
}

.p-multiselect-label,
.p-accordion .p-accordion-header .p-accordion-header-link {
    @include datatable-text-style;
}

.p-multiselect-label.p-multiselect-items-label {
    padding: 0;
}

.smfileupload {
    .p-inputtext {
        height: $datatable-row-height;
    }

    height: 30vh;
}

.sourceOrFileDialog {
    padding-left: $input-padding;
    padding-right: $input-padding;

    .p-progressbar {
        height: $datatable-row-height;
        border-radius: 0;
    }

    .p-progressbar-value {
        border-left: none;
        border-right: none;
    }

    .p-inputtext {
        height: $input-height;
    }
}

.filesEditor {
    padding: 0rem;

    .header {
        background-color: #0c243c;
        height: $datatable-row-height;
    }

    .p-button {
        height: $input-height;
        width: $input-height;
    }

}

.p-dropdown-panel {
    .p-dropdown-filter {
        height: $datatable-row-height;
    }

    .p-dropdown-header {
        border-bottom: 2px solid var(--surface-100);
    }

    .p-dropdown-footer {
        border-top: 2px solid var(--surface-100);
    }

    .p-inputtext {
        height: $datatable-row-height;
        max-height: $datatable-row-height;

    }

}

.iconselector {
    // &.p-dropdown {
    //     background-color: transparent;

    //     &.p-component.p-inputwrapper.p-inputwrapper-filled {
    //         background-color: transparent;
    //         border: none;
    //         align-items: center;
    //         justify-content: center;
    //     }


    // }

    &.p-progress-spinner {
        align-items: center;
        justify-content: center;
        width: $datatable-row-height;
        height: $datatable-row-height;
        padding: 0;
        margin: 0;
    }

    .p-progress-spinner {
        width: $input-height;
        height: $input-height;
    }

}

.iconselector-panel {
    // max-width: 80%;
}

.p-dialog-mask {
    &.p-dialog-top-right {
        padding-bottom: 5%;
    }
}

.p-inputgroup {
    height: $datatable-row-height;
    padding: 0;
    margin: 0;
}

.stringeditorbody {
    padding-left: 0.5rem;
    padding-right: 0.5rem;


    .save {
        border-color: $input-save-color !important;

        &:enabled:hover {
            border-color: $input-save-color;
        }
    }

    .filter {
        border-width: 0.1rem;
        border-color: $inputHoverBorderColor;

    }
}

.stringeditorbody-inputtext {
    width: 100% !important;
}

.autoUpdate {
    .p-inputtext {
        max-width: 6.4rem;
    }
}

.numbereditorbody {
    padding-left: 0.1rem;
    padding-right: 0.1rem;



    .save {
        .p-inputtext {
            border-color: $input-save-color !important;

            &:enabled:hover {
                border-color: $input-save-color;
            }
        }
    }
}

.listTemplate-gridItem-container {
    background-color: var(--surface-card);
    border-width: 2px;
    border-color: var(--surface-border);
    border-radius: var(--border-radius);
    border-style: solid;
    height: $gridItem-height;
    width: $gridItem-width;
    max-height: $gridItem-height;
    max-width: $gridItem-width;
    margin: $gridItem-margin;

    &.selected {
        border: 2px solid $streamMasterColor;
    }
}

.listTemplate-gridItem-container button {
    align-items: center;
    justify-content: center;
    background-color: var(--surface-card);
    border-width: 0px;
    border-color: transparent;
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;
}

.listTemplate-gridItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listTemplate-gridItem img {
    max-height: $gridItem-image-height;
    max-width: $gridItem-image-width;
    object-fit: contain;
}

.listTemplate-gridItem-name {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: $input-height;
    max-width: $gridItem-width;
    padding-left: 0.10rem;
    padding-right: 0.10rem;
}

.no-text {
    color: transparent;
}

.smbutton {
    height: $input-height;
    padding-bottom: $input-padding;
    padding-top: $input-padding;
    padding-left: $input-padding*4;
    padding-right: $input-padding*4;
    margin: 0;

    font-size: $common-font-size;

    .p-button-icon {
        font-size: $common-font-size;
    }

    .p-checkbox {
        font-size: $common-font-size;
    }

}