// .sm-text-color {
//     color: $streamMasterColor;
// }


.listTemplate-gridItem-name {
    max-width: $gridItem-width;
}

.sm-col-header-center {
    text-align: center;
}

.sm-col-header-left {
    text-align: left;
}

.sm-col-header-right {
    text-align: right;
}

.sm-col-header-wrap {
    @extend .sm-col-header;
    @include text-wrap();
    white-space: normal;
}

.sm-col-header-left-wrap {
    @include text-wrap();
    @extend .sm-col-header-left;
    white-space: normal;
}

.sm-col-header-right-wrap {
    @include text-wrap();
    @extend .sm-col-header-right;
    white-space: normal;
}

.no-text {
    color: transparent;
}


.sm-upload-button {
    background-color: $uploadButtonBg !important;
    border-color: $uploadButtonBg !important;
    color: $inputBg !important;
}

.sm-visible-button {
    background-color: $iconRed !important;
    border-color: $iconRed !important;
    color: $inputBg !important;
}

.main-outlet {
    padding-left: $layoutPadding;
}


.p-listbox-item {
    @include datatable-text-style();
}


.sm-standard-header {
    @extend .sm-input-border;
    background-color: $headerBg !important;
}

.sm-standard-border {
    @include standard-border();
}

.sm-standard-border-bottom {
    border-bottom-width: $inputBorder-size;
    border-bottom-style: solid;
    border-bottom-color: $inputHoverBorderColor;
    border-bottom-left-radius: $borderRadius !important;
    border-bottom-right-radius: $borderRadius !important;
}

.sm-standard-border-bottom-no-radius {
    border-bottom-width: $inputBorder-size;
    border-bottom-style: solid;
    border-bottom-color: $inputHoverBorderColor;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.sm-M3UFileTags {
    .sm-button {
        border-radius: $borderRadius !important;
        height: $input-height - ($input-padding * 2) !important;
    }
}

.sm-tableHeaderBg {
    background-color: $tableHeaderBg !important;
}

.sm-headerBg {
    background-color: $headerBg !important;
}

.last_radius {
    border-top-width: 0;
    border-right-width: 0;

    .p-datatable-wrapper {
        border-top-right-radius: $borderRadius !important;
    }
}

.no-top-border {
    .p-datatable-wrapper {
        border-top-width: 0 !important;
    }
}

.p-overlaypanel-content {
    padding: $layoutPadding;
}

.p-multiselect-label-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1 1 auto;
    cursor: pointer;
}


.surface-overlay {
    background-color: var(--surface-ground) !important;
}

.sm-streamgroupselector {
    @include datatable-text-style();
    @extend .sm-input-border;
    color: $textColor;
    min-width: 12rem;
    max-height: $input-height-with-no-borders;
    display: flex;
    align-items: center;
    border-color: $inputBorderColor;

    .p-dropdown-label {
        color: $textColor;
    }
}

.sm-hover {
    &:not(.p-disabled):hover {
        background: $highlightBg;
        border-color: $inputHoverBorderColor;
        border-radius: $borderRadius;
        border-style: solid;
        border-width: 1px;
        color: $highlightTextColor;
    }

}



.sm-standard-text {
    @include datatable-text-style();
}

.epgSelector {
    border-radius: 0;
    display: flex;
    align-items: center;
}

.channelGroupSelector {
    @extend .epgSelector;
}

.sm-channel-menu {
    @include datatable-text-style();
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;
}

.sm-menu-item {
    padding: 0.25rem;

    &:hover {
        // border-color: $inputHoverBorderColor;
        // background: $inputOverlayBg;

        background: $carouselIndicatorHoverBg !important;
        // border: $inputBorder-size solid $inputHoverBorderColor;
        border-radius: $borderRadius;
    }
}