// .sm-text-color {
//     color: $streamMasterColor;
// }



.listTemplate-gridItem-name,
.sm-column,
.sm-col-header,
.sm-col-header-left,
.sm-col-header-right {
    @include datatable-text-style();
}

.listTemplate-gridItem-name {
    max-width: $gridItem-width;
}

.sm-col-header-center {
    text-align: center;
}

.sm-col-header-left {
    text-align: left;
}

.sm-col-header-right {
    text-align: right;
}

.sm-col-header-wrap {
    @extend .sm-col-header;
    @include text-wrap();
    white-space: normal;
}

.sm-col-header-left-wrap {
    @include text-wrap();
    @extend .sm-col-header-left;
    white-space: normal;
}

.sm-col-header-right-wrap {
    @include text-wrap();
    @extend .sm-col-header-right;
    white-space: normal;
}

.no-text {
    color: transparent;
}

.sm-expander {
    .p-row-toggler {
        max-height: $input-height;
    }
}

.sm-upload-button {
    background-color: $uploadButtonBg !important;
    border-color: $uploadButtonBg !important;
    color: $inputBg !important;
}

.sm-visible-button {
    background-color: $iconRed !important;
    border-color: $iconRed !important;
    color: $inputBg !important;
}

.main-outlet {
    padding-left: $layoutPadding;
}

.button-red {
    background-color: $iconRed !important;
    border-color: $iconRed !important;
    color: $inputBg !important;
}

.button-yellow {
    background-color: $iconYellow !important;
    border-color: $iconYellow !important;
    color: $inputBg !important;
}

.button-orange {
    background-color: $iconOrange !important;
    border-color: $iconOrange !important;
    color: $inputBg !important;
}


.sm-datatable {
    border-radius: $borderRadius;
}



.p-listbox-item {
    @include datatable-text-style();
}


.sm-standard-header {
    @extend .sm-input-border;
    background-color: $headerBg !important;
}



.sm-M3UFileTags {
    .sm-button {
        border-radius: $borderRadius !important;
        height: $input-height - ($input-padding * 2) !important;
    }
}

.sm-datatable-header {
    @extend .sm-input-border;
    background-color: $tableHeaderBg !important;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.sm-tableHeaderBg {
    // @extend .sm-input-border;
    background-color: $tableHeaderBg !important;
}

.sm-headerBg {
    // @extend .sm-input-border;
    background-color: $headerBg !important;
}

.last_radius {
    border-top-width: 0;
    border-right-width: 0;

    div.p-datatable-wrapper {
        border-top-right-radius: $borderRadius !important;
    }
}

.no-top-border {
    div.p-datatable-wrapper {
        border-top-width: 0 !important;
    }
}


.p-datatable-wrapper {
    @extend .sm-datatable-header;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 !important;
    background-color: var(--surface-ground) !important;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: $inputBg;
        border-radius: $borderRadius;
        border-right-width: 0;
        border-bottom-width: 0;
        border: 1px solid $inputBorderColor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $inputBorderColor;
        border-radius: $borderRadius;
        // border-bottom-width: 0;
        // border: 2px solid $inputBg;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $inputBorderColor;
    }
}

.surface-overlay {
    background-color: var(--surface-ground) !important;
}

.sm-streamgroupselector {
    @include datatable-text-style();
    @extend .sm-input-border;
    min-width: 12rem;
}

.sm-standard-text {
    @include datatable-text-style();
}

.epgSelector {
    border-radius: 0;
    display: flex;
    align-items: center;
}

.channelGroupSelector {
    @extend .epgSelector;
}

.sm-channel-menu {
    @include datatable-text-style();
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.sm-menu-item {
    padding: 0.25rem;

    &:hover {
        // border-color: $inputHoverBorderColor;
        // background: $inputOverlayBg;

        background: $carouselIndicatorHoverBg !important;
        // border: $inputBorder-size solid $inputHoverBorderColor;
        border-radius: $borderRadius;
    }
}