$primaryDarkColor: scale-color($primaryColor, $lightness: -5%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -10%) !default;
$colors: (
    "blue": #54a6d4,
    "green": #8bae2c,
    "yellow": #ffd02a,
    "cyan": #35a4cc,
    "pink": #d45472,
    "indigo": #5472d4,
    "teal": #3fbfa0,
    "orange": #ff922a,
    "bluegray": #8191a6,
    "purple": #7654d4,
    "red": #ff5d44,
    "primary": $primaryColor) !default;

//scale
$scaleXS: 0.75 !default;
$scaleSM: 0.875 !default;
$scaleLG: 1.25 !default;
$scaleXLG: 1.75 !default;

//global
$common-font-size: 0.75rem;
$fontFamily: Poppins,
    sans-serif !default;
$fontSize: $common-font-size !default;
$primeIconFontSize: $common-font-size !default;
$fontWeight: normal !default;


$transitionDuration: 0.3s !default;
$formElementTransition: background-color $transitionDuration,
    color $transitionDuration,
    border-color $transitionDuration,
    box-shadow $transitionDuration !default;
$actionIconTransition: background-color $transitionDuration,
    color $transitionDuration,
    box-shadow $transitionDuration !default;
$listItemTransition: box-shadow $transitionDuration !default;

$inlineSpacing: 0.5rem !default;
$maskBg: rgba(0, 0, 0, 0.24) !default;
$loadingIconFontSize: 2rem !default;

$focusOutline: 0 none !default;
$focusOutlineOffset: 0 !default;
//action icons

$actionIconBg: transparent !default;
$actionIconBorder: 0 none !default;
$actionIconHoverBorderColor: transparent !default;
$actionIconBorderRadius: 50% !default;
//input field (e.g. inputtext, spinner, inputmask)
$inputPadding: 0rem .24rem !default;


$inputErrorBorderColor: $errorColor !default;
$inputFilledHoverBg: $inputFilledBg !default;
$inputFilledFocusBg: $inputFilledBg !default;
$inputGroupAddOnMinWidth: 2.857rem !default;
$inputListBorder: $inputBorder !default;
$inputListPadding: 0.5rem 0.5rem !default;
$inputListItemPadding: 0.2rem 0.2rem !default;
$inputListItemBg: transparent !default;
$inputListItemBorder: 0 none !default;
$inputListItemBorderRadius: 6px !default;
$inputListItemMargin: 0 0 4px 0 !default;
$inputListItemFocusShadow: inset 0 0 0 0.15rem $focusOutlineColor !default;
$inputListHeaderPadding: 0.5rem 1.5rem !default;
$inputListHeaderMargin: 0 !default;
$inputListHeaderBorder: 0 none !default;
//inputs with overlays (e.g. autocomplete, dropdown, multiselect)
$inputOverlayBg: $inputListBg !default;
$inputOverlayHeaderBg: $inputListHeaderBg !default;
$inputOverlayShadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !default;
//button
$raisedButtonShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12) !default;
$linkButtonFocusShadow: 0 0 0 0.1rem $focusOutlineColor !default;
$helpButtonFocusShadow: 0 0 0 0.1rem scale-color($helpButtonBg, $lightness: 60%) !default;
$dangerButtonFocusShadow: 0 0 0 0.1rem scale-color($dangerButtonBg, $lightness: 60%) !default;
$successButtonFocusShadow: 0 0 0 0.1rem scale-color($successButtonBg, $lightness: 60%) !default;
$secondaryButtonFocusShadow: 1px scale-color($secondaryButtonBg, $lightness: 60%) !default;
$warningButtonFocusShadow: 0 0 0 0.1rem scale-color($warningButtonBg, $lightness: 60%) !default;
$infoButtonFocusShadow: 0 0 0 1px scale-color($infoButtonBg, $lightness: 60%) !default;
$buttonPadding: 0.5rem 1rem !default;
$buttonIconOnlyWidth: $input-height-with-no-borders !default;
$buttonIconOnlyPadding: $input-padding 0 !default;
$buttonBg: $primaryColor !default;
$buttonTextColor: $primaryTextColor !default;
$buttonBorder: 2px solid $primaryColor !default;
$buttonHoverBg: $primaryDarkColor !default;
$buttonTextHoverColor: $primaryTextColor !default;
$buttonHoverBorderColor: $primaryDarkColor !default;
$buttonActiveBg: $primaryDarkerColor !default;
$buttonTextActiveColor: $primaryTextColor !default;
$buttonActiveBorderColor: $primaryDarkerColor !default;
$roundedButtonBorderRadius: 2rem !default;
$textButtonHoverBgOpacity: 0.04 !default;
$textButtonActiveBgOpacity: 0.16 !default;
$outlinedButtonBorder: 1px solid !default;
$plainButtonTextColor: $textSecondaryColor !default;
$secondaryButtonBorder: 1px solid $secondaryButtonBg !default;
$secondaryButtonHoverBg: scale-color($secondaryButtonBg, $lightness: -10%) !default;
$secondaryButtonTextHoverColor: $secondaryButtonTextColor !default;
$secondaryButtonHoverBorderColor: scale-color($secondaryButtonBg, $lightness: -10%) !default;
$secondaryButtonActiveBg: scale-color($secondaryButtonBg, $lightness: -20%) !default;
$secondaryButtonTextActiveColor: $secondaryButtonTextColor !default;
$secondaryButtonActiveBorderColor: scale-color($secondaryButtonBg, $lightness: -20%) !default;
$infoButtonTextColor: #ffffff !default;
$infoButtonBorder: 1px solid $infoButtonBg !default;
$infoButtonHoverBg: scale-color($infoButtonBg, $lightness: -10%) !default;
$infoButtonTextHoverColor: $infoButtonTextColor !default;
$infoButtonHoverBorderColor: scale-color($infoButtonBg, $lightness: -10%) !default;
$infoButtonActiveBg: scale-color($infoButtonBg, $lightness: -20%) !default;
$infoButtonTextActiveColor: $infoButtonTextColor !default;
$infoButtonActiveBorderColor: scale-color($infoButtonBg, $lightness: -20%) !default;
$successButtonBorder: 1px solid $successButtonBg !default;
$successButtonHoverBg: scale-color($successButtonBg, $lightness: -10%) !default;
$successButtonTextHoverColor: $successButtonTextColor !default;
$successButtonHoverBorderColor: scale-color($successButtonBg, $lightness: -10%) !default;
$successButtonActiveBg: scale-color($successButtonBg, $lightness: -20%) !default;
$successButtonTextActiveColor: $successButtonTextColor !default;
$successButtonActiveBorderColor: scale-color($successButtonBg, $lightness: -20%) !default;
$warningButtonBorder: 1px solid $warningButtonBg !default;
$warningButtonHoverBg: scale-color($warningButtonBg, $lightness: -10%) !default;
$warningButtonTextHoverColor: $warningButtonTextColor !default;
$warningButtonHoverBorderColor: scale-color($warningButtonBg, $lightness: -10%) !default;
$warningButtonActiveBg: scale-color($warningButtonBg, $lightness: -20%) !default;
$warningButtonTextActiveColor: $warningButtonTextColor !default;
$warningButtonActiveBorderColor: scale-color($warningButtonBg, $lightness: -20%) !default;
$helpButtonBorder: 1px solid $helpButtonBg !default;
$helpButtonHoverBg: scale-color($helpButtonBg, $lightness: -10%) !default;
$helpButtonTextHoverColor: $helpButtonTextColor !default;
$helpButtonHoverBorderColor: scale-color($helpButtonBg, $lightness: -10%) !default;
$helpButtonActiveBg: scale-color($helpButtonBg, $lightness: -20%) !default;
$helpButtonTextActiveColor: $helpButtonTextColor !default;
$helpButtonActiveBorderColor: scale-color($helpButtonBg, $lightness: -20%) !default;
$dangerButtonBorder: 1px solid $dangerButtonBg !default;
$dangerButtonHoverBg: scale-color($dangerButtonBg, $lightness: -10%) !default;
$dangerButtonTextHoverColor: $dangerButtonTextColor !default;
$dangerButtonHoverBorderColor: scale-color($dangerButtonBg, $lightness: -10%) !default;
$dangerButtonActiveBg: scale-color($dangerButtonBg, $lightness: -20%) !default;
$dangerButtonTextActiveColor: $dangerButtonTextColor !default;
$dangerButtonActiveBorderColor: scale-color($dangerButtonBg, $lightness: -20%) !default;
$contrastButtonBorder: 1px solid $contrastButtonBg !default;
$contrastButtonTextHoverColor: $contrastButtonTextColor !default;
$contrastButtonTextActiveColor: $contrastButtonTextColor !default;
$contrastButtonFocusShadow: none !default;
$linkButtonColor: $primaryDarkerColor !default;
$linkButtonHoverColor: $primaryDarkerColor !default;
$linkButtonTextHoverDecoration: underline !default;
//checkbox
$checkboxWidth: 20px !default;
$checkboxHeight: 20px !default;
$checkboxIconFontSize: 14px !default;
$checkboxActiveBorderColor: $primaryColor !default;
$checkboxActiveBg: $primaryColor !default;
$checkboxIconActiveColor: $primaryTextColor !default;
$checkboxActiveHoverBg: $primaryDarkerColor !default;
$checkboxIconActiveHoverColor: $primaryTextColor !default;
$checkboxActiveHoverBorderColor: $primaryDarkerColor !default;
//radiobutton
$radiobuttonWidth: 20px !default;
$radiobuttonHeight: 20px !default;
$radiobuttonIconSize: 12px !default;
$radiobuttonActiveBorderColor: $primaryColor !default;
$radiobuttonActiveBg: $primaryColor !default;
$radiobuttonIconActiveColor: $primaryTextColor !default;
$radiobuttonActiveHoverBg: $primaryDarkerColor !default;
$radiobuttonIconActiveHoverColor: $primaryTextColor !default;
$radiobuttonActiveHoverBorderColor: $primaryDarkerColor !default;
//colorpicker
$colorPickerPreviewWidth: 2rem !default;
$colorPickerPreviewHeight: 2rem !default;
$colorPickerBg: $shade800 !default;
$colorPickerHandleColor: $shade000 !default;
$toggleButtonActiveBg: $highlightBg !default;
$toggleButtonActiveBorderColor: $highlightBg !default;
$toggleButtonTextActiveColor: $highlightTextColor !default;
$toggleButtonIconActiveColor: $highlightTextColor !default;
$toggleButtonTextActiveHoverColor: $highlightTextColor !default;
$toggleButtonIconActiveHoverColor: $highlightTextColor !default;
//inplace
$inplacePadding: $inputPadding !default;
//rating
$ratingIconFontSize: 1.143rem !default;
$ratingCancelIconColor: #df7e6c !default;
$ratingCancelIconHoverColor: #f88c79 !default;
$ratingStarIconOnColor: $primaryColor !default;
$ratingStarIconHoverColor: $primaryColor !default;
$sliderBorder: 0 none !default;
$sliderHorizontalHeight: 0.286rem !default;
$sliderVerticalWidth: 0.286rem !default;
$sliderHandleWidth: 1.143rem !default;
$sliderHandleHeight: 1.143rem !default;
$sliderHandleBorder: 2px solid $primaryColor !default;
$sliderHandleBorderRadius: 50% !default;
$sliderHandleHoverBorderColor: $primaryColor !default;
$sliderHandleHoverBg: $primaryColor !default;
$sliderRangeBg: $primaryColor !default;
//calendar
$calendarTableMargin: 0.5rem 0 !default;
$calendarPadding: 0.5rem !default;
$calendarInlineBg: $calendarBg !default;
$calendarBorder: $inputListBorder !default;
$calendarOverlayBorder: $inputOverlayBorder !default;
$calendarHeaderPadding: 0.5rem !default;
$calendarInlineHeaderBg: $calendarBg !default;
$calendarHeaderFontWeight: 600 !default;
$calendarHeaderCellPadding: 0.5rem !default;
$calendarMonthYearHeaderHoverTextColor: $primaryColor !default;
$calendarCellDatePadding: 0.5rem !default;
$calendarCellDateWidth: 2.5rem !default;
$calendarCellDateHeight: 2.5rem !default;
$calendarCellDateBorderRadius: 50% !default;
$calendarCellDateBorder: 1px solid transparent !default;
$calendarCellDateTodayBorderColor: transparent !default;
$calendarButtonBarPadding: 1rem 0 !default;
$calendarTimePickerPadding: 0.5rem !default;
$calendarTimePickerElementPadding: 0 0.5rem !default;
$calendarTimePickerTimeFontSize: 1.25rem !default;
$calendarBreakpoint: 769px !default;
$calendarCellDatePaddingSM: 0 !default;
//input switch
$inputSwitchWidth: 3rem !default;
$inputSwitchHeight: 1.75rem !default;
$inputSwitchBorderRadius: 6px !default;
$inputSwitchHandleWidth: 1.25rem !default;
$inputSwitchHandleHeight: 1.25rem !default;
$inputSwitchHandleBorderRadius: 6px !default;
$inputSwitchSliderPadding: 0.25rem !default;
$inputSwitchSliderOnBg: $primaryColor !default;
$inputSwitchSliderOnHoverBg: $primaryDarkColor !default;
$inputSwitchHandleOnBg: $shade000 !default;
$panelHeaderFontWeight: 600 !default;
$panelHeaderPadding: 1rem !default;
$panelToggleableHeaderPadding: 0.5rem 1rem !default;
$panelContentPadding: 1rem !default;
$panelFooterPadding: 0.5rem 1rem !default;
//accordion
$accordionSpacing: 0 !default;
$accordionHeaderBorder: $panelHeaderBorder !default;
$accordionHeaderBg: $panelHeaderBg !default;
$accordionHeaderTextColor: $panelHeaderTextColor !default;
$accordionHeaderFontWeight: $panelHeaderFontWeight !default;
$accordionHeaderPadding: $panelHeaderPadding !default;
$accordionHeaderActiveBg: $panelHeaderBg !default;
$accordionContentBorder: $panelContentBorder !default;
$accordionContentBg: $panelContentBg !default;
$accordionContentTextColor: $panelContentTextColor !default;
$accordionContentPadding: $panelContentPadding !default;
$tabviewNavBorderWidth: 0 0 2px 0 !default;
$tabviewHeaderSpacing: 0 !default;
$tabviewHeaderBorderWidth: 0 0 2px 0 !default;
$tabviewHeaderFontWeight: $panelHeaderFontWeight !default;
$tabviewHeaderPadding: $panelHeaderPadding !default;
$tabviewHeaderMargin: 0 0 -2px 0 !default;
$tabviewHeaderActiveBorderColor: $primaryColor !default;
$tabviewHeaderTextActiveColor: $primaryColor !default;
$tabviewContentBorder: 0 none !default;
$tabviewContentPadding: $panelContentPadding !default;
//upload
$fileUploadProgressBarHeight: 0.25rem !default;
$fileUploadContentPadding: 2rem 1rem !default;
//scrollpanel
$scrollPanelTrackBorder: 0 none !default;
//card
$cardBodyPadding: 1rem !default;
$cardTitleFontSize: 1.5rem !default;
$cardTitleFontWeight: 600 !default;
$cardSubTitleFontWeight: 400 !default;
$cardContentPadding: 1rem 0 !default;
$cardFooterPadding: 1rem 0 0 0 !default;
$cardShadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12) !default;
//editor
$editorToolbarBg: $panelHeaderBg !default;
$editorToolbarBorder: $panelHeaderBorder !default;
$editorToolbarPadding: $panelHeaderPadding !default;
$editorToolbarIconColor: $textSecondaryColor !default;
$editorToolbarIconHoverColor: $textColor !default;
$editorIconActiveColor: $primaryColor !default;
$editorContentBorder: $panelContentBorder !default;
$editorContentBg: $panelContentBg !default;
$paginatorBorderWidth: $borderSize !default;
$paginatorPadding: 0.0rem 1rem !default;
$paginatorElement: $datatable-row-height !default;
$paginatorElementWidth: $paginatorElement !default;
$paginatorElementHeight: $paginatorElement !default;
$paginatorElementBg: transparent !default;
$paginatorElementBorder: 0 none !important;
$paginatorElementHoverBorderColor: transparent !default;
$paginatorElementBorderRadius: $borderRadius !default;
$paginatorElementMargin: 0.143rem !default;
$paginatorElementPadding: 0 !default;
$tableHeaderBorderWidth: 0 0 $borderSize 0 !default;
$tableHeaderFontWeight: 600 !default;
$tableHeaderPadding: 1rem 1rem !default;
$tableHeaderCellPadding: 1rem 1rem !default;
$tableHeaderCellFontWeight: 600 !default;
$tableHeaderCellBorderWidth: 0 0 2px 0 !default;
$tableHeaderCellHighlightTextColor: $primaryColor !default;
$tableHeaderCellHighlightTextHoverColor: $primaryColor !default;
$tableSortableColumnBadgeSize: 1.143rem !default;
$tableBodyCellBorderWidth: 0 0 2px 0 !default;
$tableBodyCellPadding: 1rem 1rem !default;
$tableFooterCellPadding: 1rem 1rem !default;
$tableFooterCellFontWeight: 600 !default;
$tableFooterCellBorderWidth: 0 0 2px 0 !default;
$tableResizerHelperBg: $primaryColor !default;
$tableDragHelperBg: rgba($primaryColor, 0.16) !default;
$tableFooterBorderWidth: 0 0 2px 0 !default;
$tableFooterFontWeight: 600 !default;
$tableFooterPadding: 1rem 1rem !default;
$tableCellContentAlignment: left !default;
$tableTopPaginatorBorderWidth: 0 0 2px 0 !default;
$tableBottomPaginatorBorderWidth: 0 0 2px 0 !default;
$tableScaleSM: 0.5 !default;
$tableScaleLG: 1.25 !default;
//dataview
$dataViewContentPadding: 0 !default;
$dataViewContentBorder: 0 none !default;
$dataViewListItemBorderWidth: 0 0 1px 0 !default;
//tree
$treeContainerPadding: 0.286rem !default;
$treeNodePadding: 0.143rem !default;
$treeNodeContentPadding: 0.5rem !default;
$treeNodeChildrenPadding: 0 0 0 1rem !default;
//timeline
$timelineVerticalEventContentPadding: 0 1rem !default;
$timelineHorizontalEventContentPadding: 1rem 0 !default;
$timelineEventMarkerWidth: 1rem !default;
$timelineEventMarkerHeight: 1rem !default;
$timelineEventMarkerBorderRadius: 50% !default;
$timelineEventMarkerBorder: 2px solid $primaryColor !default;
$timelineEventConnectorSize: 2px !default;
//message
$messageMargin: 1rem 0 !default;
$messagePadding: 1rem 1.5rem !default;
$messageBorderWidth: 0 0 0 6px !default;
$messageIconFontSize: 1.5rem !default;
$messageTextFontSize: 1rem !default;
$messageTextFontWeight: 400 !default;
//inline message
$inlineMessagePadding: $inputPadding !default;
$inlineMessageMargin: 0 !default;
$inlineMessageIconFontSize: 1rem !default;
$inlineMessageTextFontSize: 1rem !default;
$inlineMessageBorderWidth: 2px !default;
//toast
$toastIconFontSize: 2rem !default;
$toastMessageTextMargin: 0 0 0 1rem !default;
$toastMargin: 0 0 1rem 0 !default;
$toastPadding: 1rem !default;
$toastBorderWidth: 0 0 0 6px !default;
$toastOpacity: 0.9 !default;
$toastTitleFontWeight: 600 !default;
$toastDetailMargin: $inlineSpacing 0 0 0 !default;
$errorMessageBorder: 4px solid #de8499 !default;
$overlayContentBg: $panelContentBg !default;
$overlayContainerShadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12) !default;
$dialogHeaderBorder: 0 none !default;
$dialogHeaderFontWeight: 600 !default;
$dialogHeaderFontSize: 1.25rem !default;
$dialogHeaderPadding: 1.5rem !default;
$dialogContentPadding: 0 1.5rem 2rem 1.5rem !default;
$dialogFooterBorder: 0 none !default;
$dialogFooterPadding: 0 1.5rem 1.5rem 1.5rem !default;
//confirmpopup
$confirmPopupContentPadding: $panelContentPadding !default;
$confirmPopupFooterPadding: 0 1rem 1rem 1rem !default;
$tooltipTextColor: $shade000 !default;
$tooltipPadding: $inputPadding !default;
$stepsItemNumberWidth: 2rem !default;
$stepsItemNumberHeight: 2rem !default;
$stepsItemNumberFontSize: 1.143rem !default;
$stepsItemNumberBorderRadius: 50% !default;
$stepsItemActiveFontWeight: 600 !default;
//progressbar
$progressBarHeight: 1.5rem !default;
$progressBarBorder: 0 none !default;
$progressBarValueBg: $primaryColor !default;
$progressBarValueTextColor: $primaryTextColor !default;
//menu (e.g. menu, menubar, tieredmenu)
$menuWidth: 12.5rem !default;
$menuitemPadding: 0.75rem 1rem !default;
$menuitemBorderRadius: 6px !default;
$menuitemSubmenuIconFontSize: 0.75rem !default;
$submenuHeaderMargin: 0 !default;
$submenuHeaderPadding: 0.75rem 1rem !default;
$submenuHeaderBorderRadius: 0 !default;
$submenuHeaderFontWeight: 600 !default;
$overlayMenuBg: $menuBg !default;
$overlayMenuShadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !default;
$verticalMenuPadding: 0.5rem 0.5rem !default;
$verticalMenuitemMargin: 0 0 4px 0 !default;
$menuSeparatorMargin: 4px 0 !default;
$breadcrumbPadding: 1rem !default;
$breadcrumbBg: $menuBg !default;
$breadcrumbBorder: $menuBorder !default;
$breadcrumbItemTextColor: $menuitemTextColor !default;
$breadcrumbItemIconColor: $menuitemIconColor !default;
$breadcrumbLastItemTextColor: $menuitemTextColor !default;
$breadcrumbLastItemIconColor: $menuitemIconColor !default;
$breadcrumbSeparatorColor: $menuitemTextColor !default;
$horizontalMenuPadding: 0.5rem !default;
$horizontalMenuBorder: $menuBorder !default;
$horizontalMenuTextColor: $menuTextColor !default;
$horizontalMenuRootMenuitemPadding: $menuitemPadding !default;
$horizontalMenuRootMenuitemBorderRadius: $borderRadius !default;
$horizontalMenuRootMenuitemTextColor: $menuitemTextColor !default;
$horizontalMenuRootMenuitemIconColor: $menuitemIconColor !default;
$horizontalMenuRootMenuitemTextHoverColor: $menuitemTextHoverColor !default;
$horizontalMenuRootMenuitemIconHoverColor: $menuitemIconHoverColor !default;
$horizontalMenuRootMenuitemHoverBg: $menuitemHoverBg !default;
$horizontalMenuRootMenuitemTextActiveColor: $menuitemTextActiveColor !default;
$horizontalMenuRootMenuitemIconActiveColor: $menuitemIconActiveColor !default;
$horizontalMenuRootMenuitemActiveBg: $menuitemActiveBg !default;
//badge and tag
$badgeBg: $primaryColor !default;
$badgeTextColor: $primaryTextColor !default;
$badgeMinWidth: 1.5rem !default;
$badgeHeight: 1.5rem !default;
$badgeFontWeight: 700 !default;
$badgeFontSize: 0.75rem !default;
$tagPadding: 0.25rem 0.4rem !default;
//carousel
$carouselIndicatorsPadding: 1rem !default;
$carouselIndicatorBorderRadius: 0 !default;
$carouselIndicatorWidth: 2rem !default;
$carouselIndicatorHeight: 0.5rem !default;
//galleria
$galleriaMaskBg: rgba(0, 0, 0, 0.9) !default;
$galleriaCloseIconMargin: 0.5rem !default;
$galleriaCloseIconFontSize: 2rem !default;
$galleriaCloseIconBg: transparent !default;
$galleriaCloseIconHoverBg: rgba(255, 255, 255, 0.1) !default;
$galleriaCloseIconWidth: 4rem !default;
$galleriaCloseIconHeight: 4rem !default;
$galleriaCloseIconBorderRadius: 50% !default;
$galleriaItemNavigatorBg: transparent !default;
$galleriaItemNavigatorMargin: 0 0.5rem !default;
$galleriaItemNavigatorFontSize: 2rem !default;
$galleriaItemNavigatorHoverBg: rgba(255, 255, 255, 0.1) !default;
$galleriaItemNavigatorWidth: 4rem !default;
$galleriaItemNavigatorHeight: 4rem !default;
$galleriaItemNavigatorBorderRadius: $borderRadius !default;
$galleriaCaptionBg: rgba(0, 0, 0, 0.5) !default;
$galleriaCaptionPadding: 1rem !default;
$galleriaIndicatorsPadding: 1rem !default;
$galleriaIndicatorBorderRadius: 50% !default;
$galleriaIndicatorWidth: 1rem !default;
$galleriaIndicatorHeight: 1rem !default;
$galleriaIndicatorsBgOnItem: rgba(0, 0, 0, 0.5) !default;
$galleriaIndicatorBgOnItem: rgba(255, 255, 255, 0.4) !default;
$galleriaIndicatorHoverBgOnItem: rgba(255, 255, 255, 0.6) !default;
$galleriaThumbnailContainerBg: rgba(0, 0, 0, 0.9) !default;
$galleriaThumbnailContainerPadding: 1rem 0.25rem !default;
$galleriaThumbnailNavigatorBg: transparent !default;
$galleriaThumbnailNavigatorHoverBg: rgba(255, 255, 255, 0.1) !default;
$galleriaThumbnailNavigatorBorderRadius: 50% !default;
$galleriaThumbnailNavigatorWidth: 2rem !default;
$galleriaThumbnailNavigatorHeight: 2rem !default;
//divider
$dividerHorizontalMargin: 1rem 0 !default;
$dividerHorizontalPadding: 0 1rem !default;
$dividerVerticalMargin: 0 1rem !default;
$dividerVerticalPadding: 1rem 0 !default;
$dividerSize: 1px !default;
$avatarTextColor: $textColor !default;
$chipTextColor: $textColor !default;
$chipBorderRadius: 16px !default;
$chipFocusTextColor: $textColor !default;
$scrollTopWidth: 3rem !default;
$scrollTopHeight: 3rem !default;
$scrollTopBorderRadius: 50% !default;
$scrollTopFontSize: 1.5rem !default;
//speeddial
$speedDialButtonWidth: 4rem !default;
$speedDialButtonHeight: 4rem !default;
$speedDialButtonIconFontSize: 1.3rem !default;
$speedDialActionWidth: 3rem !default;
$speedDialActionHeight: 3rem !default;
$speedDialActionBg: $shade700 !default;
$speedDialActionTextColor: #fff !default;
$speedDialActionTextHoverColor: #fff !default;
//dock
$dockActionWidth: 4rem !default;
$dockActionHeight: 4rem !default;
$dockItemPadding: 0.5rem !default;
$dockItemBorderRadius: $borderRadius !default;
$dockCurrentItemMargin: 1.5rem !default;
$dockFirstItemsMargin: 1.3rem !default;
$dockSecondItemsMargin: 0.9rem !default;
$dockBg: rgba(255, 255, 255, 0.1) !default;
$dockBorder: 1px solid rgba(255, 255, 255, 0.2) !default;
$dockPadding: 0.5rem 0.5rem !default;
$dockBorderRadius: 0.5rem !default;
//image
$imageMaskBg: rgba(0, 0, 0, 0.9) !default;
$imagePreviewToolbarPadding: 1rem !default;
$imagePreviewIndicatorColor: #f8f9fa !default;
$imagePreviewIndicatorBg: rgba(0, 0, 0, 0.5) !default;
$imagePreviewActionIconBg: transparent !default;
$imagePreviewActionIconColor: #f8f9fa !default;
$imagePreviewActionIconHoverBg: rgba(255, 255, 255, 0.1) !default;
$imagePreviewActionIconHoverColor: #f8f9fa !default;
$imagePreviewActionIconWidth: 3rem !default;
$imagePreviewActionIconHeight: 3rem !default;
$imagePreviewActionIconFontSize: 1.5rem !default;
$imagePreviewActionIconBorderRadius: 50% !default;


:root {
    font-family: Poppins,
        sans-serif;
    --font-family: Poppins,
        sans-serif;
    --surface-a: #{$shade800};
    --surface-b: #{$shade900};
    --surface-d: #{$shade600};
    --surface-e: #{$shade800};
    --surface-f: #{$shade800};
    --text-color: #{$textColor};
    --text-color-secondary: #{$shade100};
    --primary-color: #{$primaryColor};
    --primary-color-text: #{$primaryTextColor};
    --surface-0: #{$surface-ground};
    --surface-50: #262b2c;
    --surface-100: #3e4244;
    --surface-200: #565a5b;
    --surface-300: #6e7173;
    --surface-400: #87898a;
    --surface-500: #9fa1a1;
    --surface-600: #b7b8b9;
    --surface-700: #cfd0d0;
    --surface-800: #e7e7e8;
    --surface-900: #ffffff;
    --gray-50: #e7e7e8;
    --gray-100: #cfd0d0;
    --gray-200: #b7b8b9;
    --gray-300: #9fa1a1;
    --gray-400: #87898a;
    --gray-500: #6e7173;
    --gray-600: #565a5b;
    --gray-700: #3e4244;
    --gray-800: #262b2c;
    --icon-green: #{$iconGreen};
    --icon-blue: #{$iconBlue};
    --icon-red: #{$iconRed};
    --icon-orange: #{$iconOrange};
    --surface-section: #{$surface-section};
    --surface-card: #{$bgColor};
    --surface-overlay: #{$bgColor};
    --surface-border: #{$inputBorderColor};
    --gray-900: #{$surface-ground};
    --content-padding: #{$panelContentPadding};
    --inline-spacing: #{$inlineSpacing};
    --border-radius: #{$borderRadius};
    --surface-ground: #{$surface-ground};
    --surface-ground-alpha: rgba(14, 19, 21, 0.85
    );


--surface-hover: rgba($primaryColor, 0.08);
--focus-ring: #{$focusShadow};
--maskbg: #{$maskBg};
--highlight-bg: #{$highlightBg};
--highlight-text-color: #{$highlightTextColor};
}