.padding-xs {
    @include scaledPadding($inputPadding, $scaleXS);
}

.text-xs {
    @extend .padding-xs;
    @include scaledFontSize($common-font-size, $scaleXS);
}

.padding-sm {
    @include scaledPadding($inputPadding, $scaleSM);
}

.text-sm {
    @extend .padding-sm;
    font-size: $input-height-with-no-borders;
    // @include scaledFontSize($common-font-size, $scaleSM);
}

.padding-lg {
    @include scaledPadding($inputPadding, $scaleLG);
}

.text-lg {
    @extend .padding-lg;
    @include scaledFontSize($common-font-size, $scaleLG);
}

.padding-xlg {
    @include scaledPadding($inputPadding, $scaleXLG);
}

.text-xlg {
    // @extend .padding-xlg;
    //font-size: $input-height-with-no-borders;
    @include scaledFontSize($common-font-size, $scaleXLG);
}

.text-color {
    color: $textColor;
}

.dark-background {
    background-color: $inputBg !important;
}

.sm-input {
    @extend .sm-hover;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100% !important;
    height: $input-height-with-no-borders;
    max-height: $input-height-with-no-borders;
    min-height: $input-height-with-no-borders;
    color: $inputTextColor;
    border-color: transparent;
    border-radius: $borderRadius;
    border-style: solid;
    border-width: $inputBorder-size ;
}

.sm-input-dark {
    @extend .sm-input;
    @extend .sm-input-border-dark;
    background-color: $inputBg !important;
}

.sm-input-no-color {
    padding: 0;
    border-width: 0;
    color: $inputTextColor;

    .p-dropdown {
        background-color: transparent !important;
    }

    .p-dropdown-label {
        background-color: transparent !important;
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stringeditor {
    position: relative;
    display: flex;
    align-items: center;
    height: $input-height-with-no-borders !important;
    min-height: $input-height-with-no-borders !important;
    max-height: $input-height-with-no-borders !important;
    border-color: transparent;
    border-style: solid;
    border-width: $inputBorder-size;

    .p-float-label {
        >label {
            height: $input-height;
            left: nth($inputPadding, 2);
            padding-top: ($inputBorder-size+.05) !important;
        }
    }

    .input-icon {
        position: absolute;
        right: 0.24rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .input-icon-left {
        position: absolute;
        left: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.stringeditorbody-inputtext-buttons {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    .p-inputnumber-input {
        width: 99% !important;
    }
}

.p-inputnumber-input {
    background-color: transparent !important;

    :hover {
        border-style: none !important;
        box-shadow: none !important;
        transform: none !important;
        opacity: 1 !important;
    }
}

.stringeditorbody-inputtext {
    @extend .text-container;
    @extend .sm-hover;
    align-items: center;
    background-color: transparent !important;
    color: $inputTextColor;
    display: flex;
    height: $input-height-with-no-borders !important;
    max-height: $input-height-with-no-borders !important;
    min-height: $input-height-with-no-borders !important;
    width: 100%;

    .p-inputnumber-input {
        color: $inputTextColor;
        background-color: transparent !important;
    }
}

.stringeditorbody-inputtext-dark {
    @extend .stringeditorbody-inputtext;
    @extend .sm-input-border-dark;
    color: $textColor !important;
    background-color: $inputBg !important;
    display: flex;
    align-items: center;
    border-color: $inputBorderColor !important;
    border-style: solid !important;

    .p-inputnumber-input {
        color: $textColor !important;
    }

    .label {
        color: $textColor !important;
    }
}

.stringeditorbody-inputtext-save {
    @extend .stringeditorbody-inputtext;

    background-color: $inputBg !important;
}

.text-default-color {
    color: $textColor;
}

.sm-input-xs {
    @extend .text-xs;
}

.sm-input-sm {
    @extend .text-sm;
}

.sm-input-xs {
    @extend .text-xs;
}


.text-container {
    @include text-overflow();
    font-weight: normal;
}

.sm-standard-text {
    @include datatable-text-style();
}

.no-text {
    color: transparent;
}