.sm-list-container {
    @extend .sm-input-border;
    height: $gridItem-height;
    width: $gridItem-width;
    max-height: $gridItem-height;
    max-width: $gridItem-width;
    margin: $gridItem-margin;

    .listTemplate-button {
        align-items: center;
        justify-content: center;
        background-color: var(--surface-card);
        border-width: 0px;
        border-color: transparent;
        padding: 0;
        margin: 0;

        height: 100%;
        width: 100%;

        &:not(.p-disabled):hover {
            background: $highlightBg;
            border-color: $inputHoverBorderColor;
            border-radius: $borderRadius;
            border-style: solid;
            border-width: 1px;
            color: $highlightTextColor;
        }
    }

    .sm-image-item {
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
            max-height: $gridItem-image-height;
            max-width: $gridItem-image-width;
            object-fit: contain;
        }
    }

    &.selected {
        border: 2px solid $streamMasterColor;
    }
}