::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: $inputBg;
    border-radius: $borderRadius;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right-width: 0;
    border-bottom-width: 0;
    border: 1px solid $inputBorderColor;
}

::-webkit-scrollbar-thumb {
    background-color: $inputBorderColor;
    border-radius: $borderRadius;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $inputBorderColor;
}