.sm-fileupload {
    background: var(--surface-overlay);
    padding: 0.5rem;
    padding-bottom: 2rem !important;

    // .p-inputtext {
    //     @extend .sm-input-border;
    //     height: $input-height;
    //     background: var(--surface-ground);
    // }

    // .sm-inputnumber-input-no-right-border {
    //     border-top-right-radius: 0;
    //     border-bottom-right-radius: 0;

    //     // .p-inputnumber-input {
    //     //     border-top-right-radius: 0;
    //     //     border-bottom-right-radius: 0;
    //     // }
    // }
}

.sm-fileupload-header {
    background: var(--surface-overlay);
    border-style: solid;
    border-color: var(--surface-100);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-radius: $borderRadius;
    padding: 0.5rem;
}

.sm-fileupload-panel {
    background-color: var(--surface-ground-alpha);
}