.sm-dropdown {
    @extend .sm-input-border;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: $input-height-with-no-borders;
    max-height: $input-height-with-no-borders;
}