.sm-streamingproxy-selector {
    @include datatable-text-style();
    @extend .sm-sm-input-border;
    color: $textColor;
    padding: 0 !important;
    min-width: 100%;

    display: flex;
    align-items: center;

    min-height: $input-height-with-no-borders;
    height: $input-height-with-no-borders;
    max-height: $input-height-with-no-borders;

    .p-dropdown-label {
        padding: 0;
        color: $textColor;
    }
}