.sm-sourceorfiledialog {
    // @extend .sm-border;
    // height: $input-height-with-no-borders !important;


    .p-inputgroup {
        // height: $input-height-with-no-borders-md;

        // >button {
        //     border: unset;
        //     border-style: solid;
        //     color: $bgColor !important;
        //     padding: 0 !important;
        //     min-width: $input-height-with-no-borders;
        //     max-width: $input-height-with-no-borders;
        // }

        // >button:first-child {
        //     border-width: 0.025rem;
        //     border-top-color: $bgColor !important;
        //     border-right-color: $iconOrange;
        //     border-left-color: $iconOrange;
        //     border-top-right-radius: 0;
        //     border-bottom-right-radius: 0;
        // }

        // >button:last-child {
        //     border-width: 0.025rem;
        //     border-bottom-color: $bgColor !important;
        //     border-right-color: $iconOrange;
        //     border-left-color: $iconOrange;
        // }

        // .p-button.p-button-icon-only {
        //     padding: 0 !important;
        //     min-width: $input-height-with-no-borders;
        //     max-width: $input-height-with-no-borders;
        //     // background-color: $iconOrange;
        // }
    }

    // button {
    //     width: 100%;
    //     height: $input-height-with-no-borders !important;
    // }

    .p-progressbar {
        height: $input-height-with-no-borders !important;
        border-radius: 0;
    }

    .p-progressbar-value {
        height: $input-height-with-no-borders !important;
        border-left: none;
        border-right: none;
    }

    // .p-inputtext {
    //     border-radius: unset !important;
    //     height: $input-height-with-no-borders !important;
    //     @extend .sm-hover-y;
    // }
}