.listTemplate-gridItem-name,
.sm-column,
.sm-col-header,
.sm-col-header-left,
.sm-col-header-center,
.sm-col-header-right {
    @include datatable-text-style();
    height: $input-height;
    padding: 0 !important;
    display: flex;
    align-items: center;
}


.sm-column-small,
.sm-col-small-header,
.sm-col-small-header-left,
.sm-col-small-header-center,
.sm-col-small-header-right {
    @include datatable-text-style();
    height: $input-small-height;
    padding: 0 !important;
    display: flex;
    align-items: center;
}