.sm-overlay {
    background-color: var(--surface-ground);

    .p-float-label {
        font-size: $common-font-size;
    }
}

.sm-dialog {
    @extend .sm-overlay;
    padding: $layoutPadding*2;
}

.sm-card {
    background-color: var(--surface-ground);
    padding: 0rem;

    .sm-card-header {
        @extend .sm-input-border;
        background-color: $tableHeaderBg !important;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .sm-card-info {
        @extend .sm-input-border;
        background-color: $headerBg !important;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .sm-card-children {
        @extend .sm-card-header;
        background-color: $headerBg !important;
    }

    .sm-card-content-children {
        @extend .padding-xlg;
        background-color: $headerBg !important;

        .p-dropdown {
            height: 0;
            max-width: 0;
        }
    }

    .p-button {
        //height: $input-height;
        // width: $input-height;
    }
}