.sm-datatable {
    border-radius: $borderRadius;

    .p-row-toggler {
        height: $input-height-with-no-borders;
    }

    td {
        padding: 0;
        // border: unset;
    }
}

.sm-expander {
    .p-row-toggler {
        height: $input-height-with-no-borders;
        max-height: $input-height-with-no-borders;
    }
}

.sm-datatable-header {
    @extend .sm-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $tableHeaderBg !important;
    padding-top: $datatable-header-padding;
    padding-bottom: $datatable-header-padding;
    height: 3rem;
    max-height: 3rem;
}

.p-datatable-wrapper {
    @extend .sm-border;
    background-color: $tableHeaderBg !important;
    padding-top: $datatable-header-padding;
    padding-bottom: $datatable-header-padding;

    padding: 0 !important;
    background-color: var(--surface-ground) !important;
}