.z-10 {
    z-index: 10;
}

.sm-modal {
    @extend .sm-box-modal;
    z-index: 10;
}

.sm-dialog-overlay {
    z-index: 9;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.01); // Semi-transparent dark overlay    
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(2px) brightness(0.8) contrast(1); // Enhanced blur with brightness and contrast adjustments
    -webkit-backdrop-filter: blur(1px) brightness(0.8) contrast(1); // Safari support effect
}