.sm-card {
    padding: 0rem;
    border-width: 1px !important;
    border-color: var(--surface-100);
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-style: solid;

    .sm-card-header {

        padding: $datatable-padding;
        // border-style: solid;
        // border-bottom-width: 1px !important;
        // border-color: var(--surface-100);
        background-color: $blue-header-color;
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
        height: $datatable-row-height + $datatable-padding;
    }

    .p-button {
        //height: $input-height;
        // width: $input-height;
    }
}