.sm-scroller {
    min-width: 200px;
}

.sm-scroller-items {
    .p-virtualscroller-content {
        .sm-scroller-item:nth-child(odd) {
            background: $tableBodyRowEvenBg;
        }
    }
}



.sm-scroller-item {
    @include text-overflow();
    // margin: $inputListItemMargin;

    // background: $inputListItemBg;
    border-radius: 0; // $inputListItemBorderRadius;
    border: $inputListItemBorder;
    color: $inputListItemTextColor;
    height: $input-height-with-no-borders;
    max-height: $input-height-with-no-borders;
    min-height: $input-height-with-no-borders;
    padding: $inputListItemPadding;
    transition: $listItemTransition;

    // height: $datatable-row-height;
    // max-height: $datatable-row-height;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:not(.p-highlight):not(.p-disabled) {
        &.p-focus {
            color: $inputListItemTextHoverColor;
            background: $inputListItemHoverBg;
        }
    }

    .p-dropdown-check-icon {
        position: relative;
        margin-left: -1 * $inlineSpacing;
        margin-right: $inlineSpacing;
    }

    &:not(.p-disabled):hover {
        background: $highlightBg;
        border-color: $highlightBg;
        border-radius: 0; // $borderRadius;
        border-style: solid;
        border-width: 1px;
        color: $highlightTextColor;
    }

    &.p-highlight {
        color: $highlightTextColor !important;
        background: $highlightBg !important;

        &.p-focus {
            background: $highlightFocusBg !important;
        }
    }
}